// Background
$second-bg-color: #16133D;
$main-bg-color: #FFFFFF;


// Colors
$title-color: #7690A8;
$text-color: #16133D;
$accent-color: #3DB370;
$icon-color: #0D0D0D;
$border-color: #E5EAF4;
$border-hover: rgba(61, 179, 112, 0.1);


// Fonts
$text-font: 400 16px / 1.75 'Roboto',
sans-serif;
$logo-font: 500 35px / 1 'Quicksand',
sans-serif;
$title-font: 400 24px / 0.89 'Roboto',
sans-serif;
$a-font: 600 16px / 1.19 'Roboto',
sans-serif;